In [12]:
###############################################################################
# This notebook provides some cleanup tools                                   #
#                                                                             #
# WARNING!!! This notebook directly writes to the database. You need to know  #
# exactly what you are doing as you may mistakenly delete important data.     #
# Best to only work on development database.                                  #
###############################################################################

# Core stuff
import os
from pathlib import Path
import re
import json
import datetime

# Data stuff
import pandas as pd # Data analysis
import xlrd # excel 
import pyodbc # SQL DBAPI (lower level API)

# Initial setup
test = 'MISAT' # NMCT
country = 'RMI' # FSM
cwd = os.getcwd()

# Configuration
with open('config.json', 'r') as file:
     config = json.load(file)
config

# Establish a database server connection
conn = """
    Driver={{ODBC Driver 17 for SQL Server}};
    Server={},{};
    Database={};
    authentication=SqlPassword;UID={};PWD={};
    TrustServerCertificate=yes;
    autocommit=True
    """.format(config['server_ip'], config['server_port'], config['database'], config['uid'], config['pwd'])

sql_conn = pyodbc.connect(conn)

# With SQLAlchemy
from sqlalchemy import create_engine, Table, delete # SQL general
from sqlalchemy.orm import sessionmaker
from sqlalchemy import Column, DateTime, Integer, Unicode
from sqlalchemy.dialects.mssql import TIMESTAMP
from sqlalchemy.ext.declarative import declarative_base

engine = create_engine('mssql+pyodbc://'+config['uid']+':'+config['pwd']+'@'+config['server_ip']+':'+config['server_port']+'/'+config['database']+'?driver=ODBC+Driver+17+for+SQL+Server') #SQL+Server+Native+Client+10.0
Base = declarative_base()
metadata = Base.metadata

In [2]:
# Load what we needs from EMIS database
query_nationalities = """
SELECT [codeCode]
      ,[codeDescription]
      ,[codeSeq]
  FROM [dbo].[lkpNationality]
"""
                          
df_nationalities = pd.read_sql(query_nationalities, sql_conn)
display(df_nationalities)

    codeCode              codeDescription  codeSeq
0         TL                  Timor-Leste      999
1         TM                 Turkmenistan      999
2         TN                      Tunisia      999
3         TO                        Tonga      999
4         TR                       Turkey      999
..       ...                          ...      ...
251       TF  French Southern Territories      999
252       TG                         Togo      999
253       TH                     Thailand      999
254       TJ                   Tajikistan      999
255       TK                      Tokelau      999

[256 rows x 3 columns]

In [3]:
def load_excel_to_df(filename):
    """Loads an Excel filename to a Pandas DataFrame.

    Parameters
    ----------
    filename : str, required
        The filename of the excel file to load

    Raises
    ------
    NotImplementedError
        Could raise unknown error. Implement if it happens
    
    Returns
    -------
    DataFrame
    """
    file_path = Path(filename)
    file_extension = file_path.suffix.lower()[1:]

    if file_extension == 'xlsx':
        df = pd.read_excel(filename, index_col=None, header=0, engine='openpyxl')
    elif file_extension == 'xls':
        df = pd.read_excel(filename, index_col=None, header=0)
    elif file_extension == 'csv':
        df = pd.read_csv(filename, index_col=None, header=0)
    else:
        raise Exception("File not supported")

    return df

def listDuplicates(d):
    """Looks at a typical lookup dict and finds duplicate values. This can then be observed to 
    any invalid duplicates. For example, same value should be same key but with data error (misspelling, etc.).
    But a duplicate value with completely different keys (e.g. two completely different instituation with same
    value code is invalid and must be adjusted)
    """
    l = list(d.values())
    s = set([x for x in l if l.count(x) > 1])

    for k,v in d.items():
        if v in s:
            print("{}: {}".format(k, d[k]))

In [41]:
# Load a single scholarship data workbook
cwd = os.getcwd()
filename = os.path.join(cwd, 'data/FSM/Scholarship Data for FY 17.xlsx')

df_scholarship = load_excel_to_df(filename)
print('df_scholarship')
display(df_scholarship)

df_scholarship

,Last Name,First Name,State,G.L.,GPA,Institution,Major,Cost of Attendance,Amount Awarded,Semester,MS #,Note,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Lawechresh,Tracy,Yap,Sophomore,2.650,University of Hawaii-Manoa,Public Health,39049.0,4000.0,Fall 2016,NS17-01,NaN,NaN,NaN,NaN,NaN,NaN
1,Sigrah,Keeshea,Kosrae,Junior,2.550,Chaminade University,Environmental Studies,39777.0,4000.0,Fall 2016,NS17-02,NaN,NaN,NaN,NaN,NaN,NaN
2,Lekka,Noriekka,Pohnpei,Senior,2.188,University of Guam,Health Science,14171.0,4000.0,Fall 2016,NS17-03,NaN,NaN,NaN,NaN,NaN,NaN
3,Roby,Rofino,Pohnpei,Junior,2.540,University of Hawaii-Hilo,Psychology,15844.0,4000.0,Spring 2017,NS17-04,NaN,NaN,NaN,NaN,NaN,NaN
4,Tharngan,Eric,Yap,Junior,2.940,Guam Community College,Computer Networking,10614.0,4000.0,Fall 2016,NS17-05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
###############################################################################
# Cleanup data
###############################################################################

# Drop columns and rows where all of it is NaN
df_scholarship = df_scholarship.dropna(axis=1, how='all')
df_scholarship = df_scholarship.dropna(axis=0, how='all')

# Add the year to the DF
df_scholarship['Year'] = 2017

# Cleanup states
states_lookup_byname = {
    'YAP': 'YAP',
    'KSA': 'KSA',
    'PNI': 'CHK',
    'CHK': 'CHK',
    'Yap': 'YAP',
    'Kosrae': 'KSA', 
    'Pohnpei': 'PNI', 
    'Chuuk': 'CHK', 
    'Yap/USA': 'YAP', 
    'Yap/Marshall': 'YAP',
    'USA/Yap': 'YAP', 
    'Pohnpei ': 'PNI'
}

df_scholarship['State'] = df_scholarship['State'].map(states_lookup_byname)

# Cleanup grade levels
gradelevels_hs_lookup_byname = {
    'Sophomore': 'Year 2', 
    'Junior': 'Year 3', 
    'Senior': 'Year 4', 
    'Freshman': 'Year 1', 
    'Postgraduate': 'Postgraduate',
    'Graduate': 'Graduate' 
}
gradelevels_college_lookup_byname = {
    'Sophomore': 'G10', 
    'Junior': 'G11', 
    'Senior': 'G12', 
    'Freshman': 'G9', 
    'Postgraduate': 'Postgraduate',
    'Graduate': 'Graduate'
}

df_scholarship['ClassLevelHS'] = df_scholarship['G.L.'].map(gradelevels_hs_lookup_byname)
df_scholarship['ClassLevelCollege'] = df_scholarship['G.L.'].map(gradelevels_college_lookup_byname)

# Clean GPA
# Check GPA within range
gpa = df_scholarship['GPA'].between(0,4).any()
if not gpa:
    print('GPA is not within range: ')
# For now put GPA in [schoGPA] since we may not have data tracked by actual semester to put in posGPA
df_scholarship['schoGPA'] = df_scholarship['GPA']
    
# Cleanup institution
institution_lookup_byname = {
    'University of Hawaii-Manoa': 'UOH',
    'Chaminade University': 'CHU',
    'University of Guam': 'UOG',
    'University of Hawaii-Hilo': 'UOH',
    'Guam Community College': 'GCC',
    'University of Hawaii Manoa': 'UOH',
    'College of Micronesia-FSM': 'COM',
    'Pacific Islands University': 'PIU',
    'Eastern Oregon University': 'EOU',
    'Hawaii Community College': 'HCC',
    'Cardinal Stritch University': 'CSU',
    'Grand Rapids Community College': 'GRCC',
    'Park University': 'PU',
    'University of Hawaii Hilo': 'UOH',
    "Saint Martin's University": 'SMU', 
    'Creighton University': 'CRU',
    'Wheeling Jesuit University': 'WJU',
    'University of Scranton': 'US',
    'University of Oregon': 'UO',
    'Western Kentucky University': 'UKU',
    'Hawaii Pacific University': 'HPU',
    'University of Hawaii Hilo/Hawaii Community College': 'UOH',
    'University of Reno': 'UON',
    'Canisius College': 'CC',
    'Southern Utah University': 'SUU',
    'Mount Mary University': 'MMU',
    'The University of the South Pacific': 'USP',
    'Allegheny College': 'AC',
    'Southern New Hampshire University': 'SNHU',
    'University of Tennessee Knoxville': 'UTK',
    'Fiji National University': 'FNU',
    'Kapiolani Community College': 'KCC',
    'Rocky Mountain College': 'RMC',
    'University of Texas, San Antonio': 'UOT',
    'Walla Walla Community College': 'WWCC',
    'Harvest Baptist Bible College': 'HBBC',
    'Southern Adventist University': 'SAU',
    'Pacific Union College': 'PUC',
    'Miramar College': 'MC',
    'Walla Walla University': 'WWU',
    'Bob Jones University': 'BJU',
    'Univerity of Guam': 'UOG',
    'University of Montana': 'UOM', 
    "Saint Joseph's University": 'STJU',
    'University of Hawii Hilo': 'UOH', 
    "Sain Martin's University": 'SMU',
    'University of Nevada, Reno': 'UON',
    'Bossier Parish Community College': 'BPCC',
    "St. Martin's University": 'SMU', 
    'Southwestern University': 'SU',
    'Pennsylvania State University': 'PSU', 
    "St. Peter's University": 'STPU',
    'International Baptist College & Seminary': 'IBCS',
    'Western Oklahoma State College': 'WOSC',
    'University of Texas at San Antonio': 'UOT',
    'Sanata Dharma University': 'SDU',
    'Ritsumeikan Asian Pacific University': 'RAPU',
    'University of South Pacific': 'USP',
    'University of Hawaii Maui College': 'UOH',
    'Andrews University': 'AU',
    'Seattle Pacific University': 'SPU',
    'Le Moyne College': 'LMC'
}
# For verification of unique codes
#listDuplicates(gradelevels_college_lookup_byname)
df_scholarship['instCode'] = df_scholarship['Institution'].map(institution_lookup_byname)

# Draft Lookup by code (draft because it produces it from above dict with its alternative spellings, etc.)
# Still need to make an official version from this for loading into the DB
institution_lookup_draft = {v:k for k,v in institution_lookup_byname.items()}

institution_lookup = {
    'UOH': 'University of Hawaii',
    'CHU': 'Chaminade University',
    'UOG': 'Univerity of Guam',
    'GCC': 'Guam Community College',
    'COM': 'College of Micronesia',
    'PIU': 'Pacific Islands University',
    'EOU': 'Eastern Oregon University',
    'HCC': 'Hawaii Community College',
    'CSU': 'Cardinal Stritch University',
    'GRCC': 'Grand Rapids Community College',
    'PU': 'Park University',
    'SMU': "St. Martin's University",
    'CRU': 'Creighton University',
    'WJU': 'Wheeling Jesuit University',
    'US': 'University of Scranton',
    'UO': 'University of Oregon',
    'UKU': 'Western Kentucky University',
    'HPU': 'Hawaii Pacific University',
    'CC': 'Canisius College',
    'SUU': 'Southern Utah University',
    'MMU': 'Mount Mary University',
    'USP': 'University of South Pacific',
    'AC': 'Allegheny College',
    'SNHU': 'Southern New Hampshire University',
    'UTK': 'University of Tennessee Knoxville',
    'FNU': 'Fiji National University',
    'KCC': 'Kapiolani Community College',
    'RMC': 'Rocky Mountain College',
    'UOT': 'University of Texas at San Antonio',
    'WWCC': 'Walla Walla Community College',
    'HBBC': 'Harvest Baptist Bible College',
    'SAU': 'Southern Adventist University',
    'PUC': 'Pacific Union College',
    'MC': 'Miramar College',
    'WWU': 'Walla Walla University',
    'BJU': 'Bob Jones University',
    'UOM': 'University of Montana',
    'STJU': "Saint Joseph's University",
    'UON': 'University of Nevada, Reno',
    'BPCC': 'Bossier Parish Community College',
    'SU': 'Southwestern University',
    'PSU': 'Pennsylvania State University',
    'STPU': "St. Peter's University",
    'IBCS': 'International Baptist College & Seminary',
    'WOSC': 'Western Oklahoma State College',
    'SDU': 'Sanata Dharma University',
    'RAPU': 'Ritsumeikan Asian Pacific University',
    'AU': 'Andrews University',
    'SPU': 'Seattle Pacific University',
    'LMC': 'Le Moyne College'
}

# Clean semesters
# TODO Remains open question about handling of semesters to their EMIS value
semesters_lookup = {
    'Fall 2016': 1, #??? 
    'Spring 2017': 2,
    'Summer 2017': 3,
    'Fall 2017': 1 #???
}

df_scholarship['posSemester'] = df_scholarship['Semester'].map(semesters_lookup)

# Simply put Note in schoNote for now
df_scholarship.rename(columns={"Note": "schoNote"}, inplace=True)

# Amount awarded, is this the amount awarded for the semester? or the whole scholarship?
df_scholarship.rename(columns={"Amount Awarded": "posAmount"}, inplace=True)

# MS# ?

display(df_scholarship)

,Last Name,First Name,State,G.L.,GPA,Institution,Major,Cost of Attendance,posAmount,Semester,MS #,schoNote,Year,ClassLevelHS,ClassLevelCollege,schoGPA,instCode,posSemester
0,Lawechresh,Tracy,YAP,Sophomore,2.650,University of Hawaii-Manoa,Public Health,39049.0,4000.0,Fall 2016,NS17-01,NaN,2017,Year 2,G10,2.650,UOH,1
1,Sigrah,Keeshea,KSA,Junior,2.550,Chaminade University,Environmental Studies,39777.0,4000.0,Fall 2016,NS17-02,NaN,2017,Year 3,G11,2.550,CHU,1
2,Lekka,Noriekka,CHK,Senior,2.188,University of Guam,Health Science,14171.0,4000.0,Fall 2016,NS17-03,NaN,2017,Year 4,G12,2.188,UOG,1
3,Roby,Rofino,CHK,Junior,2.540,University of Hawaii-Hilo,Psychology,15844.0,4000.0,Spring 2017,NS17-04,NaN,2017,Year 3,G11,2.540,UOH,2
4,Tharngan,Eric,YAP,Junior,2.940,Guam Community College,Computer Networking,10614.0,4000.0,Fall 2016,NS17-05,NaN,2017,Year 3,G11,2.940,GCC,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,Noda,Gracelynn,KSA,Sophomore,3.493,University of Guam,Business Administration,14171.0,4000.0,Fall 2017,NS17-590,NaN,2017,Year 2,G10,3.493,UOG,1
589,Simina,Leyann,CHK,Senior,3.113,University of Guam,Public Health/ Nutrition,10738.5,5000.0,Fall 2017,NS17-591,NaN,2017,Year 4,G12,3.113,UOG,1
590,Tammed,Marietta,YAP,Senior,2.759,University of Guam,Accounting,10959.5,4000.0,Fall 2017,NS17-592,NaN,2017,Year 4,G12,2.759,UOG,1
591,Ligohr,Denzel,CHK,Sophomore,3.840,Hawaii Pacific University,International Studies,47536.0,3500.0,Fall 2017,NS17-593,NaN,2017,Year 2,G10,3.840,HPU,1
592,Alexander,Stephanie,CHK,Senior,3.420,College of Micronesia-FSM,Elementary Education,7060.0,1000.0,Fall 2017,NS17-594,NaN,2017,Year 4,G12,3.420,COM,1

In [31]:
df_scholarship['MS #'].unique()

array(['NS17-01', 'NS17-02', 'NS17-03', 'NS17-04', 'NS17-05', 'NS17-06',
       'NS17-07', 'NS17-08', 'NS17-09', 'NS17-10', 'NS17-11', 'NS17-12',
       'NS17-13', 'NS17-14', 'NS17-15', 'NS17-16', 'NS17-17', 'NS17-18',
       'NS17-19', 'NS17-20', 'NS17-21', 'NS17-22', 'NS17-23', 'NS17-24',
       'NS17-25', 'NS17-26', 'NS17-27', 'NS17-28', 'NS17-29', 'NS17-30',
       'NS17-31', 'NS17-32', 'NS17-33', 'NS17-34', 'NS17-35', 'NS17-36',
       'NS17-37', 'NS17-38', 'NS17-39', 'NS17-40', 'NS17-41', 'NS17-42',
       'NS17-43', 'NS17-44', 'NS17-45', 'NS17-46', 'NS17-47', 'NS17-48',
       'NS17-49', 'NS17-50', 'NS17-51', 'NS17-52', 'NS17-53', 'NS17-54',
       'NS17-55', 'NS17-56', 'NS17-57', 'NS17-58', 'NS17-59', 'NS17-60',
       'NS17-61', 'NS17-62', 'NS17-63', 'NS17-64', 'NS17-65', 'NS17-66',
       'NS17-67', 'NS17-68', 'NS17-69', 'NS17-70', 'NS17-71', 'NS17-72',
       'NS17-73', 'NS17-74', 'NS17-75', 'NS17-76', 'NS17-77', 'NS17-78',
       'NS17-79', 'NS17-80', 'NS17-81', 'NS17-82', 'NS17-83', 'NS17-84',
       'NS17-85', 'NS17-86', 'NS17-87', 'NS17-88', 'NS17-89', 'NS17-90',
       'NS17-91', 'NS17-92', 'NS17-93', 'NS17-94', 'NS17-95', 'NS17-96',
       'NS17-97', 'NS17-98', 'NS17-99', 'NS17-100', 'NS17-101',
       'NS17-102', 'NS17-103', 'NS17-104', 'NS17-105', 'NS17-106',
       'NS17-107', 'NS17-108', 'NS17-109', 'NS17-110', 'NS17-111',
       'NS17-112', 'NS17-113', 'NS17-114', 'NS17-115', 'NS17-116',
       'NS17-117', 'NS17-118', 'NS17-119', 'NS17-120', 'NS17-121',
       'NS17-122', 'NS17-123', 'NS17-124', 'NS17-125', 'NS17-126',
       'NS17-127', 'NS17-128', 'NS17-129', 'NS17-130', 'NS17-131',
       'NS17-132', 'NS17-133', 'NS17-134', 'NS17-135', 'NS17-136',
       'NS17-137', 'NS17-138', 'NS17-139', 'NS17-140', 'NS17-141',
       'NS17-142', 'NS17-143', 'NS17-144', 'NS17-145', 'NS17-146',
       'NS17-147', 'NS17-148', 'NS17-149', 'NS17-150', 'NS17-151',
       'NS17-152', 'NS17-153', 'NS17-154', 'NS17-155', 'NS17-156',
       'NS17-157', 'NS17-158', 'NS17-159', 'NS17-160', 'NS17-161',
       'NS17-162', 'NS17-163', 'NS17-164', 'NS17-165', 'NS17-166',
       'NS17-167', 'NS17-168', 'NS17-169', 'NS17-170', 'NS17-171',
       'NS17-172', 'NS17-173', 'NS17-174', 'NS17-175', 'NS17-176',
       'NS17-177', 'NS17-178', 'NS17-179', 'NS17-180', 'NS17-181',
       'NS17-182', 'NS17-183', 'NS17-184', 'NS17-185', 'NS17-186',
       'NS17-187', 'NS17-188', 'NS17-189', 'NS17-190', 'NS17-191',
       'NS17-192', 'NS17-193', 'NS17-194', 'NS17-195', 'NS17-196',
       'NS17-197', 'NS17-198', 'NS17-199', 'NS17-200', 'NS17-201',
       'NS17-202', 'NS17-203', 'NS17-204', 'NS17-205', 'NS17-206',
       'NS17-207', 'NS17-208', 'NS17-209', 'NS17-210', 'NS17-211',
       'NS17-212', 'NS17-213', 'NS17-214', 'NS17-215', 'NS17-216',
       'NS17-217', 'NS17-218', 'NS17-219', 'NS17-220', 'NS17-221',
       'NS17-222', 'NS17-223', 'NS17-224', 'NS17-225', 'NS17-226',
       'NS17-227', 'NS17-228', 'NS17-229', 'NS17-230', 'NS17-231',
       'NS17-232', 'NS17-233', 'NS17-234', 'NS17-235', 'NS17-236',
       'NS17-237', 'NS17-238', 'NS17-239', 'NS17-240', 'NS17-241',
       'NS17-242', 'NS17-243', 'NS17-244', 'NS17-245', 'NS17-246',
       'NS17-247', 'NS17-248', 'NS17-249', 'NS17-250', 'NS17-251',
       'NS17-252', 'NS17-253', 'NS17-254', 'NS17-255', 'NS17-256',
       'NS17-257', 'NS17-258', 'NS17-259', 'NS17-260', 'NS17-261',
       'NS17-262', 'NS17-263', 'NS17-264', 'NS17-265', 'NS17-266',
       'NS17-267', 'NS17-268', 'NS17-269', 'NS17-270', 'NS17-271',
       'NS17-272', 'NS17-273', 'NS17-274', 'NS17-276', 'NS17-277',
       'NS17-278', 'NS17-279', 'NS17-280', 'NS17-281', 'NS17-282',
       'NS17-283', 'NS17-284', 'NS17-285', 'NS17-286', 'NS17-287',
       'NS17-288', 'NS17-289', 'NS17-290', 'NS17-291', 'NS17-292',
       'NS17-293', 'NS17-294', 'NS17-295', 'NS17-296', 'NS17-297',
       'NS17-298', 'NS17-299', 'NS17-300', 'NS17-301', 'NS17-302',
       'NS17-303', 'NS17-304', 'NS17-305', 'NS17-306', 'NS17-307',
       'NS17-308', 'NS17-309', 'NS17-310', 'NS17-311', 'NS17-312',
       'NS17-313', 'NS17-314', 'NS17-315', 'NS17-316', 'NS17-317',
       'NS17-318', 'NS17-319', 'NS17-320', 'NS17-321', 'NS17-322',
       'NS17-323', 'NS17-324', 'NS17-325', 'NS17-326', 'NS17-327',
       'NS17-328', 'NS17-329', 'NS17-330', 'NS17-331', 'NS17-332',
       'NS17-333', 'NS17-334', 'NS17-366', 'NS17-335', 'NS17-336',
       'NS17-337', 'NS17-338', 'NS17-339', 'NS17-367', 'NS17-340',
       'NS17-341', 'NS17-342', 'NS17-343', 'NS17-344', 'NS17-345',
       'NS17-346', 'NS17-368', 'NS17-347', 'NS17-348', 'NS17-349',
       'NS17-350', 'NS17-351', 'NS17-352', 'NS17-353', 'NS17-354',
       'NS17-355', 'NS17-356', 'NS17-364', 'NS17-365', 'NS17-357',
       'NS17-358', 'NS17-359', 'NS17-360', 'NS17-361', 'NS17-362',
       'NS17-363', 'NS17-369', 'NS17-370', 'NS17-371', 'NS17-372',
       'NS17-373', 'NS17-374', 'NS17-375', 'NS17-376', 'NS17-377',
       'NS17-378', 'NS17-379', 'NS17-380', 'NS17-381', 'NS17-382',
       'NS17-383', 'NS17-384', 'NS17-385', 'NS17-386', 'NS17-387',
       'NS17-388', 'NS17-389', 'NS17-390', 'NS17-391', 'NS17-392',
       'NS17-393', 'NS17-394', 'NS17-395', 'NS17-396', 'NS17-397',
       'NS17-398', 'NS17-399', 'NS17-400', 'NS17-401', 'NS17-402',
       'NS17-403', 'NS17-404', 'NS17-405', 'NS17-406', 'NS17-407',
       'NS17-408', 'NS17-409', 'NS17-410', 'NS17-411', 'NS17-412',
       'NS17-413', 'NS17-414', 'NS17-415', 'NS17-416', 'NS17-417',
       'NS17-418', 'NS17-419', 'NS17-420', 'NS17-421', 'NS17-422',
       'NS17-423', 'NS17-424', 'NS17-425', 'NS17-426', 'NS17-427',
       'NS17-428', 'NS17-429', 'NS17-430', 'NS17-431', 'NS17-432',
       'NS17-433', 'NS17-434', 'NS17-435', 'NS17-436', 'NS17-437',
       'NS17-438', 'NS17-439', 'NS17-440', 'NS17-441', 'NS17-442',
       'NS17-443', 'NS17-444', 'NS17-445', 'NS17-446', 'NS17-447',
       'NS17-448', 'NS17-449', 'NS17-450', 'NS17-451', 'NS17-452',
       'NS17-453', 'NS17-454', 'NS17-455', 'NS17-456', 'NS17-457',
       'NS17-458', 'NS17-459', 'NS17-460', 'NS17-461', 'NS17-462',
       'NS17-463', 'NS17-464', 'NS17-465', 'NS17-466', 'NS17-467',
       'NS17-468', 'NS17-469', 'NS17-470', 'NS17-471', 'NS17-472',
       'NS17-473', 'NS17-474', 'NS17-475', 'NS17-476', 'NS17-477',
       'NS17-478', 'NS17-479', 'NS17-480', 'NS17-481', 'NS17-482',
       'NS17-483', 'NS17-484', 'NS17-485', 'NS17-486', 'NS17-487',
       'NS17-488', 'NS17-489', 'NS17-490', 'NS17-491', 'NS17-492',
       'NS17-493', 'NS17-494', 'NS17-495', 'NS17-496', 'NS17-497',
       'NS17-498', 'NS17-499', 'NS17-500', 'NS17-501', 'NS17-502',
       'NS17-503', 'NS17-504', 'NS17-505', 'NS17-506', 'NS17-507',
       'NS17-508', 'NS17-509', 'NS17-510', 'NS17-511', 'NS17-512',
       'NS17-513', 'NS17-514', 'NS17-515', 'NS17-516', 'NS17-517',
       'NS17-518', 'NS17-519', 'NS17-520', 'NS17-521', 'NS17-522',
       'NS17-523', 'NS17-524', 'NS17-525', 'NS17-526', 'NS17-527',
       'NS17-528', 'NS17-529', 'NS17-530', 'NS17-531', 'NS17-532',
       'NS17-533', 'NS17-534', 'NS17-535', 'NS17-536', 'NS17-537',
       'NS17-538', 'NS17-539', 'NS17-540', 'NS17-541', 'NS17-542',
       'NS17-543', 'NS17-544', 'NS17-545', 'NS17-546', 'NS17-547',
       'NS17-548', 'NS17-549', 'NS17-550', 'NS17-551', 'NS17-552',
       'NS17-553', 'NS17-554', 'NS17-555', 'NS17-556', 'NS17-557',
       'NS17-558', 'NS17-559', 'NS17-560', 'NS17-561', 'NS17-562',
       'NS17-563', 'NS17-564', 'NS17-565', 'NS17-566', 'NS17-567',
       'NS17-568', 'NS17-569', 'NS17-570', 'NS17-571', 'NS17-572',
       'NS17-573', 'NS17-574', 'NS17-575', 'NS17-576', 'NS17-577',
       'NS17-578', 'NS17-579', 'NS17-580', 'NS17-581', 'NS17-582',
       'NS17-583', 'NS17-584', 'NS17-585', 'NS17-586', 'NS17-587',
       'NS17-588', 'NS17-589', 'NS17-590', 'NS17-591', 'NS17-592',
       'NS17-593', 'NS17-594'], dtype=object)

In [25]:
###############################################################################
# ScholarshipInsitution table                                                 #
###############################################################################

# ORM model 
#class ScholarshipInstitution(Base):
#    __tablename__ = 'ScholarshipInstitutions'

#    instCode = Column(Unicode(10), primary_key=True)
#    instName = Column(Unicode(100), nullable=False)
#    instCountry = Column(Unicode(2), nullable=False)
#    instTermsPerYear = Column(Integer)
#    pCreateUser = Column(Unicode(50))
#    pCreateDateTime = Column(DateTime)
#    pEditUser = Column(Unicode(50))
#    pEditDateTime = Column(DateTime)
#    pRowversion = Column(TIMESTAMP)
    
# Get unique list of institute names to gather their countries (manually)
insts = list(institution_lookup.values())
insts.sort()
insts

# Here they are, now get the countries for each
institution_countries_lookup = {
    'Allegheny College': 'US',
    'Andrews University': 'US',
    'Bob Jones University': 'US',
    'Bossier Parish Community College': 'US',
    'Canisius College': 'US',
    'Cardinal Stritch University': 'US',
    'Chaminade University': 'US',
    'College of Micronesia': 'FM',
    'Creighton University': 'US',
    'Eastern Oregon University': 'US',
    'Fiji National University': 'FJ',
    'Grand Rapids Community College': 'US',
    'Guam Community College': 'US',
    'Harvest Baptist Bible College': 'US',
    'Hawaii Community College': 'US',
    'Hawaii Pacific University': 'US',
    'International Baptist College & Seminary': 'PH',
    'Kapiolani Community College': 'US',
    'Le Moyne College': 'US',
    'Miramar College': 'US',
    'Mount Mary University': 'US',
    'Pacific Islands University': 'US',
    'Pacific Union College': 'US',
    'Park University': 'US',
    'Pennsylvania State University': 'US',
    'Ritsumeikan Asian Pacific University': 'JP',
    'Rocky Mountain College': 'US',
    "Saint Joseph's University": 'US',
    'Sanata Dharma University': 'ID',
    'Seattle Pacific University': 'US',
    'Southern Adventist University': 'US',
    'Southern New Hampshire University': 'US',
    'Southern Utah University': 'US',
    'Southwestern University': 'US',
    "St. Martin's University": 'US',
    "St. Peter's University": 'US',
    'Univerity of Guam': 'US',
    'University of Hawaii': 'US',
    'University of Montana': 'US',
    'University of Nevada, Reno': 'US',
    'University of Oregon': 'US',
    'University of Scranton': 'US',
    'University of South Pacific': 'FJ',
    'University of Tennessee Knoxville': 'US',
    'University of Texas at San Antonio': 'US',
    'Walla Walla Community College': 'US',
    'Walla Walla University': 'US',
    'Western Kentucky University': 'US',
    'Western Oklahoma State College': 'US',
    'Wheeling Jesuit University': 'US'
}

institutions = {
    'instCode': institution_lookup.keys(),
    'instName': institution_lookup.values()
}

df_scholarship_institutions = pd.DataFrame(data=institutions)

# Add countries
df_scholarship_institutions['instCountry'] = df_scholarship_institutions['instName'].map(institution_countries_lookup)

# All institutes to default to 3 terms per year
df_scholarship_institutions['instTermsPerYear'] = 3

# Add changed tracking data
df_scholarship_institutions['pCreateUser'] = config['user']
df_scholarship_institutions['pCreateDateTime'] = datetime.datetime.utcnow()
df_scholarship_institutions['pEditUser'] = config['user']
df_scholarship_institutions['pEditDateTime'] = datetime.datetime.utcnow()

df_scholarship_institutions.sort_values(by=['instName'], inplace=True)
display(df_scholarship_institutions.head(3)) #.head(3)

# Write data directly to EMIS database
# Delete all existing data from table first
stmt = (
    delete(ScholarshipInstitution)
)
result = engine.execute(stmt)

# Re-insert from DataFrame
df_scholarship_institutions.to_sql('ScholarshipInstitutions', engine, if_exists='append', index=False)

,instCode,instName,instCountry,instTermsPerYear,pCreateUser,pCreateDateTime,pEditUser,pEditDateTime
22,AC,Allegheny College,US,3,ghachey@nuzusys,2021-05-25 07:14:17.135082,ghachey@nuzusys,2021-05-25 07:14:17.136344
47,AU,Andrews University,US,3,ghachey@nuzusys,2021-05-25 07:14:17.135082,ghachey@nuzusys,2021-05-25 07:14:17.136344
35,BJU,Bob Jones University,US,3,ghachey@nuzusys,2021-05-25 07:14:17.135082,ghachey@nuzusys,2021-05-25 07:14:17.136344